| Vad som testas | Hur det testas | Testresultat |
| -------- | -------- | -------- |
| TC1.1 | Manuellt test via användargränssnitt i TestApp | ✓ |
| TC1.1.2 | Manuellt test via användargränssnitt i TestApp | ✓ |
 TC1.1.3 | Manuellt test via användargränssnitt i TestApp | ✓ |
| TC1.1.4 | Manuellt test via användargränssnitt i TestApp | x |
| TC1.2 | Manuellt test via användargränssnitt i TestApp | ✓ |
| TC1.2.1| Manuellt test via användargränssnitt i TestApp | ✓ |
| TC2.1 | Manuellt test via användargränssnitt i TestApp | ✓ |
| TC1.2.2 | Manuellt test via användargränssnitt i TestApp | x |
| TC3.1 | Manuellt test via användargränssnitt i TestApp | ✓ |
| TC3.2 | Manuellt test via användargränssnitt i TestApp | ✓ |
| TC3.2.2 | Manuellt test via användargränssnitt i TestApp | ✓ |
| TC3.3 | Manuellt test via användargränssnitt i TestApp | ✓ |
| TC5.1 | Manuellt test via användargränssnitt i TestApp | ✓ |
| TC6.1 | Manuellt test via användargränssnitt i TestApp | ✓ |

### TC1.1.4
På grund av så liten antal av celler i gridden är det väldigt svårt att känna igen de grundläggande former och konturer som finns i original bilden i nonogram gridden.

### TC 1.2.2 
- Output  "Number of rows in image grid cannot be less than 1."
- Förväntade output  "Number of columns in image grid cannot be less than 1."
// PROBLEMET ÄR FIXAT